a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 35px;
    text-decoration: none;
    border-radius: 5px;
    background: rgba(65, 65, 65, 0.58);
    color: white;
}

a:hover {
    color: #FFEB39;
}

.headerNav{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1048px;
    height: 61px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    background: #000000;
    border-radius: 6px;
    &topfirst {
        position: absolute;
    }
    &topsecond {
        position: fixed;
        top: 0;
    }
}