.blog{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 61px;
    height: 801px;
    padding-top: 80px;
}

.blogTitle{
    width: 90px;
    height: 55px;
    font-size: 36px;
    font-weight: normal;
    border-bottom: 3px solid #2D2D2D;
}